<template>
  <div class="phone_app">
    <PhoneTitle :title="title" :showInfoBare="showInfoBare" v-if="showHeader" @back="onBackspace"/>
    <div class="phone_content elements">
        <div class="element input_search" v-if="searchMod" v-bind:class="{ select: currentSelect === -1 }">
            <input  id="searchInput" 
                    class="elem-search" 
                    type="text" 
                    placeholder="Rechercher..."
                    v-model="searchValue"
                    v-on:keyup="searchItem" 
                    v-autofocus
                    autocomplete="off" />
        </div>
        <div class="element list_elem" v-for='(elem, key) in currentList' 
          v-bind:key="elem[keyDispay]"
          v-bind:class="{ select: key === currentSelect }"
          @click.stop="selectItem(elem)"
          @contextmenu.prevent="optionItem(elem)"
          >
            <div class="elem-pic" v-bind:style="stylePuce(elem)" @click.stop="selectItem(elem)">
              {{elem.letter || elem[keyDispay][0]}}
            </div>
            <div @click.stop="selectItem(elem)" v-if="elem.puce !== undefined && elem.puce !== 0" class="elem-puce">{{elem.puce}}</div>
            <div @click.stop="selectItem(elem)" v-if="elem.keyDesc === undefined || elem.keyDesc === ''" class="elem-title">{{elem[keyDispay]}}</div>
            <div @click.stop="selectItem(elem)" v-if="elem.keyDesc !== undefined && elem.keyDesc !== ''" class="elem-title-has-desc">{{elem[keyDispay]}}</div>
            <div @click.stop="selectItem(elem)" v-if="elem.keyDesc !== undefined && elem.keyDesc !== ''" class="elem-description">{{elem.keyDesc}}</div>
        </div>
    </div>
  </div>
</template>

<script>
import PhoneTitle from './PhoneTitle'
import InfoBare from './InfoBare'
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'hello',
  components: {
    PhoneTitle, InfoBare
  },
  data: function () {
    return {
      firstIdx: this.searchMod ? -1 : 0,
      currentSelect: this.searchMod ? -1 : 0,
      currentList: this.list,
      searchValue: '',
      nextBackUnfocus: false
    }
  },
  props: {
    title: {
      type: String,
      default: 'Title'
    },
    showHeader: {
      type: Boolean,
      default: true
    },
    showInfoBare: {
      type: Boolean,
      default: true
    },
    list: {
      type: Array,
      required: true
    },
    color: {
      type: String,
      default: '#FFFFFF'
    },
    backgroundColor: {
      type: String,
      default: '#4CAF50'
    },
    keyDispay: {
      type: String,
      default: 'display'
    },
    disable: {
      type: Boolean,
      default: false
    },
    titleBackgroundColor: {
      type: String,
      default: '#FFFFFF'
    },
    searchMod: {
      type: Boolean,
      default: false
    }
  },
  watch: {
    list: function () {
      if (this.searchMod) {
        this.currentSelect = -1
      } else {
        this.currentSelect = 0
      }
      this.currentList = this.list
    }
  },
  computed: {
    ...mapGetters(['useMouse', 'isInputFocused'])
  },
  methods: {
    ...mapActions(['setInputFocused']),
    styleTitle: function () {
      return {
        color: this.color,
        backgroundColor: this.backgroundColor
      }
    },
    stylePuce (data) {
      data = data || {}
      if (data.icon !== undefined) {
        return {
          backgroundImage: `url(${data.icon})`,
          backgroundSize: 'cover',
          color: 'rgba(0,0,0,0)'
        }
      }
      return {
        color: data.color || this.color,
        backgroundColor: data.backgroundColor || this.backgroundColor,
        borderRadius: '50%'
      }
    },
    scrollIntoViewIfNeeded: function () {
      this.$nextTick(() => {
        if (document.querySelector('.select')) {
          document.querySelector('.select').scrollIntoViewIfNeeded()
        }
      })
    },
    onUp: function () {
      if (this.disable === true) return
      if (this.isInputFocused) {
        this.nextBackUnfocus = false
        this.setInputFocused(false)
      }
      this.currentSelect = this.currentSelect === this.firstIdx ? this.currentList.length - 1 : this.currentSelect - 1
      this.scrollIntoViewIfNeeded()
    },
    onDown: function () {
      if (this.disable === true) return
      if (this.isInputFocused) {
        this.nextBackUnfocus = false
        this.setInputFocused(false)
      }
      this.currentSelect = this.currentSelect === this.currentList.length - 1 ? this.firstIdx : this.currentSelect + 1
      this.scrollIntoViewIfNeeded()
    },
    searchItem () {
      if (this.searchValue.trim() !== '') {
        this.nextBackUnfocus = false
        this.currentList = this.list.filter(elem => {
          return elem.display.toLowerCase().indexOf(this.searchValue.toLowerCase()) !== -1
        })
      } else {
        this.nextBackUnfocus = true
        this.currentList = this.list
      }
    },
    selectItem (item) {
      this.$emit('select', item)
    },
    optionItem (item) {
      this.$emit('option', item)
    },
    onRight: function () {
      if (this.disable === true || this.currentSelect === -1) return
      this.$emit('option', this.currentList[this.currentSelect])
    },
    onEnter: function () {
      if (this.disable === true) return
      if (this.currentSelect === -1 && !this.isInputFocused) {
        // recherche
        this.setInputFocused(true)
      }
      this.$emit('select', this.currentList[this.currentSelect])
    },
    onBackspace: function () {
      if (this.useMouse === true && document.activeElement.tagName !== 'BODY') return
      if (!this.isInputFocused) {
        this.$emit('back')
      } else {
        if (document.activeElement.value.length === 0) {
          if (!this.nextBackUnfocus) {
            this.nextBackUnfocus = true
          } else {
            this.setInputFocused(false)
            this.nextBackUnfocus = false
          }
        }
      }
    }
  },
  created: function () {
    if (!this.useMouse) {
      this.$bus.$on('keyUpArrowDown', this.onDown)
      this.$bus.$on('keyUpArrowUp', this.onUp)
      this.$bus.$on('keyUpArrowRight', this.onRight)
      this.$bus.$on('keyUpEnter', this.onEnter)
    } else {
      this.currentSelect = -1
    }
    this.$bus.$on('keyUpBackspace', this.onBackspace)
  },
  beforeDestroy: function () {
    this.$bus.$off('keyUpArrowDown', this.onDown)
    this.$bus.$off('keyUpArrowUp', this.onUp)
    this.$bus.$off('keyUpArrowRight', this.onRight)
    this.$bus.$off('keyUpEnter', this.onEnter)
    this.$bus.$off('keyUpBackspace', this.onBackspace)
  }
}
</script>

<style scoped>
.list{
  height: 100%;
}


.elements{
  overflow-y: auto;
}

.element{
  width: 95%;
  margin: 10px auto;
  height: 58px;
  line-height: 58px;
  background-color: #eee;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.list_elem.select, .list_elem:hover {
   background-color: #DDD;
}

.elem-pic{
  margin-left: 12px;
  height: 48px;
  width: 48px;
  text-align: center;
  line-height: 48px;
  font-weight: 700;
}
.elem-puce{
  background-color: red;
  color:white;
  height: 18px;
  width: 18px;
  line-height: 18px;
  border-radius: 50%;
  text-align: center;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
  position: absolute;
  left: 42px;
  top: 36px;
  z-index: 6;
}
.elem-title{
  margin-left: 12px;
}
.elem-title-has-desc {
  margin-top:-15px;
  margin-left: 12px;
}
.elem-description{
  text-align:left;
  color:grey;
  position:absolute;
  display:block;
  width:75%;
  left:73px;
  top:12px;
  font-size:13.5px;
  font-style:italic;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.elem-search {
  height: 100%;
  width: 100%;
  top:0;
  left:0;
  font-size: 28px;
  border-width: 0px;
  background-color: transparent;
  color: #000000;
  border-style: solid;
  border-radius: 50px;
  text-align: center;
  margin: 0px;
  padding: 0px;
  position: absolute;
}

.input_search {
  background-color: #eee;
}

.input_search.select, .input_search:hover {
  background-color: #DDD;
}

</style>
