<template>
  <div>
      <PhoneTitle :title="IntlString('APP_SEIZED_TITLE')" backgroundColor="rgb(0, 73, 209)" @back="onBack" /> <!-- HEADER -->
      <div class="seized" >
        <img src="/html/static/img/seized.png" alt="This hidden site has been seized">
      </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import PhoneTitle from './PhoneTitle'
export default {
  components: { PhoneTitle },
  computed: {
    ...mapGetters(['IntlString'])
  },
  methods: {
    onBack () {
      this.$router.push({ name: 'home' })
    }
  },
  created () {
    if (!this.useMouse) {
      this.$bus.$on('keyUpBackspace', this.onBack)
    }
  },
  beforeDestroy () {
    this.$bus.$off('keyUpBackspace', this.onBack)
  }
}
</script>

<style scoped>
  .seized {
    width: 100%;
    height: 715px;
    background-color: white; /** Splash Background */
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
</style>
