<template>
  <div class="screen">
      <PhoneTitle :title="IntlString('APP_GPS_TITLE')" backgroundColor="rgb(0, 73, 209)" @back="onBack" /> <!-- HEADER -->
      <div class="gps">
        <span class="blink-msg">
          {{IntlString('APP_GPS_MSG')}}
        </span>
      </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import PhoneTitle from '../PhoneTitle'
export default {
  components: { PhoneTitle },
  computed: {
    ...mapGetters(['IntlString'])
  },
  methods: {
    onBack () {
      this.$phoneAPI.toggleGPS(false)
      this.$router.push({ name: 'home' })
    }
  },
  created () {
    if (!this.useMouse) {
      this.$bus.$on('keyUpBackspace', this.onBack)
    }
    this.$phoneAPI.toggleGPS(true)
  },
  beforeDestroy () {
    this.$bus.$off('keyUpBackspace', this.onBack)
  }
}
</script>

<style scoped>
  .screen {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .gps {
    font-weight: bold;
    padding-top: 20px;
    height: 100%;
    text-align: center;
    background: url(../../assets/img/maps.png);
    background-size: contain;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  }

  .blink-msg {
    -moz-animation: blink normal 1s infinite ease-in-out;
    -webkit-animation: blink normal 1s infinite ease-in-out;
    animation: blink normal 1s infinite ease-in-out;
  }

  @-moz-keyframes blink {
      0% {opacity:1;}
      50% {opacity:0;}
      100% {opacity:1;}
  } 

  @-webkit-keyframes blink {
      0% {opacity:1;}
      50% {opacity:0;}
      100% {opacity:1;}
  }

  @keyframes blink {
      0% {opacity:1;}
      50% {opacity:0;}
      100% {opacity:1;}
  }
</style>
