<template>
  <div class="contact">
    <list :list='lcontacts' :searchMod="true" :disable='disableList' :title="IntlString('APP_CONTACT_TITLE')" @back="back" @select='onSelect' @option='onOption'></list>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

import List from './../List.vue'
import Modal from '@/components/Modal/index.js'

export default {
  components: {
    List
  },
  data () {
    return {
      disableList: false
    }
  },
  computed: {
    ...mapGetters(['IntlString', 'contacts', 'useMouse', 'isInputFocused']),
    lcontacts () {
      let addContact = {display: this.IntlString('APP_CONTACT_NEW'), letter: '+', num: '', id: -1}
      return [addContact, ...this.contacts.map(e => {
        e.backgroundColor = '#2c3e50'
        return e
      })]
    }
  },
  methods: {
    ...mapActions(['startCall']),
    onSelect (contact) {
      if (contact) {
        if (contact.id === -1) {
          this.$router.push({ name: 'contacts.view', params: { id: contact.id } })
        } else {
          this.$router.push({ name: 'messages.view', params: { number: contact.number, display: contact.display } })
        }
      }
    },
    onOption (contact) {
      if (contact.id === -1 || contact.id === undefined) return
      this.disableList = true
      Modal.CreateModal({
        choix: [
          // Call
          {id: 1, title: this.IntlString('APP_MESSAGE_MESS_CALL'), icons: 'fa-phone'},
          // Anonymous call
          {id: 2, title: this.IntlString('APP_PHONE_CALL_ANONYMOUS'), icons: 'fa-mask'},
          // SMS
          {id: 3, title: this.IntlString('APP_MESSAGE_MESS_SMS'), icons: 'fa-comment'},
          // Update
          {id: 4, title: this.IntlString('APP_CONTACT_EDIT'), icons: 'fa-edit', color: 'orange'},
          // Cancel
          {id: 5, title: this.IntlString('CANCEL'), icons: 'fa-undo'}
        ]
      }).then(rep => {
        if (rep.id === 1) {
          this.startCall({ numero: contact.number })
        } else if (rep.id === 2) {
          this.startCall({ numero: '#' + contact.number })
        } else if (rep.id === 3) {
          this.$router.push({ name: 'messages.view', params: { number: contact.number, display: contact.display } })
        } else if (rep.id === 4) {
          this.$router.push({path: 'contact/' + contact.id})
        }
        this.disableList = false
      })
    },
    back () {
      if (this.disableList === true || this.isInputFocused) return
      this.$router.push({ name: 'home' })
    }
  },
  created () {
    if (!this.useMouse) {
      this.$bus.$on('keyUpBackspace', this.back)
    }
  },

  beforeDestroy () {
    this.$bus.$off('keyUpBackspace', this.back)
  }
}
</script>

<style scoped>
.contact{
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
</style>
