<template>
  <div class="emergency">
    <ListEmergencies :list='lemergencies' :taken_by="IntlString('APP_EMERGENCY_TAKEN_BY')" :disable="disableList" :title="IntlString('APP_EMERGENCY_TITLE')" @back="back" @select='onSelect' @option='onOption' />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

import ListEmergencies from '../ListEmergencies.vue'
import Modal from '@/components/Modal/index.js'

export default {
  components: {
    ListEmergencies
  },
  data () {
    return {
      disableList: false
    }
  },
  computed: {
    ...mapGetters(['IntlString', 'emergencies', 'identifier', 'useMouse']),
    lemergencies () {
      // let addContact = {display: this.IntlString('APP_CONTACT_NEW'), letter: '+', num: '', id: -1}
      return this.emergencies.map(e => {
        const playerName = e.player.split('- #')[0]
        const phoneNumber = e.player.split('- #')[1]
        e.playerName = playerName
        e.phoneNumber = phoneNumber
        e.backgroundColor = '#2c3e50'
        return e
      })
    }
  },
  methods: {
    onSelect (emergency) {
      const coords = JSON.parse(emergency.position)
      this.$phoneAPI.emergencyGPS(coords.x, coords.y)
    },
    onOption (emergency) {
      if (emergency.id === undefined) return
      this.disableList = true
      const choix = []

      choix.push({id: 1, title: this.IntlString('APP_EMERGENCY_GPS'), icons: 'fa-map-marked-alt', color: 'blue'})

      if (emergency.resolved === 0) {
        choix.push({id: 2, title: this.IntlString('APP_EMERGENCY_MARK_DONE'), icons: 'fa-check', color: 'green'})
      } else {
        choix.push({id: 3, title: this.IntlString('APP_EMERGENCY_MARK_UNDONE'), icons: 'fa-times', color: 'red'})
      }

      if (emergency.taken_by === this.identifier) {
        choix.push({id: 4, title: this.IntlString('APP_EMERGENCY_UNTAKE'), icons: 'fa-user-slash'})
      } else if (emergency.taken_by === undefined) {
        choix.push({id: 5, title: this.IntlString('APP_EMERGENCY_TAKE'), icons: 'fa-user'})
      } else {
        console.error(`taken_by: %${emergency.taken_by}%`)
      }

      choix.push({id: 6, title: this.IntlString('CANCEL'), icons: 'fa-undo'})

      Modal.CreateModal({
        choix
      }).then(rep => {
        switch (rep.id) {
          case 1:
            const coords = JSON.parse(emergency.position)
            this.$phoneAPI.emergencyGPS(coords.x, coords.y)
            break

          case 2:
            this.$phoneAPI.emergencyResolve(emergency.id)
            break

          case 3:
            this.$phoneAPI.emergencyUnresolve(emergency.id)
            break

          case 4:
            this.$phoneAPI.emergencyUntake(emergency.id)
            break

          case 5:
            this.$phoneAPI.emergencyTake(emergency.id)
            break

          default:
            break
        }

        this.disableList = false
      })
    },
    back () {
      if (this.disableList === true) return
      this.$router.push({ name: 'home' })
    }
  },
  created () {
    if (!this.useMouse) {
      this.$bus.$on('keyUpBackspace', this.back)
    }
  },

  beforeDestroy () {
    this.$bus.$off('keyUpBackspace', this.back)
  }
}
</script>

<style scoped>
.emergency{
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
</style>
