<template>
  <div class="phone_app">
    <div class="img-fullscreen" v-if="imgZoom !== undefined" @click.stop="imgZoom = undefined">
      <img :src="imgZoom" />
    </div>
    <PhoneTitle :title="photo.url" @back="back"/>  
    <div class='photo'>
        
        <div class="photo_display" :class="{selectedphoto: currentSelect === -1}" @click.stop="imgZoom = photo.url">      
            <img :src="photo.url" />
        </div>

        <div class="actionbox">
          <div class="action share" :class="{selectedbutton: currentSelect === 0}"
            @click.stop="sharePhoto"
          >
            <i class="fa fa-share-square"></i>
          </div>

          <div class="action delete" :class="{selectedbutton: currentSelect === 1}"
            @click.stop="onDelete"
          >
            <i class="fa fa-trash"></i>
          </div>
        </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import PhoneTitle from './../PhoneTitle'

import Modal from '@/components/Modal/index.js'

export default {
  components: {
    PhoneTitle
  },
  data () {
    return {
      id: -1,
      photo: {
        id: -1,
        url: ''
      },
      currentSelect: -1,
      disableList: false,
      imgZoom: undefined
    }
  },
  computed: {
    ...mapGetters(['IntlString', 'photos', 'useMouse'])
  },
  methods: {
    ...mapActions(['twitterPostTweet', 'deletePhoto']),
    onDelete () {
      this.disableList = true
      Modal.CreateModal({
        choix: [
          {id: 1, title: this.IntlString('APP_YES'), color: 'green'},
          {id: 2, title: this.IntlString('APP_NO'), color: 'red'}
        ]
      }).then(rep2 => {
        if (rep2.id === 1) {
          this.deletePhoto({ id: this.photo.id })
          this.back()
        }
        this.disableList = false
      })
    },
    sharePhoto () {
      this.disableList = true
      Modal.CreateModal({
        choix: [
          {id: 1, title: this.IntlString('APP_MESSAGE_SMS'), color: 'orange'},
          {id: 2, title: this.IntlString('APP_TWITTER_VIEW_TWITTER'), color: 'cyan'},
          {id: 3, title: this.IntlString('CANCEL'), icons: 'fa-undo'}
        ]
      }).then(rep => {
        switch (rep.id) {
          case 1:
            this.$router.push({ name: 'photo.share.sms', params: { id: this.photo.id } })
            break

          case 2:
            this.twitterPostTweet({ message: this.photo.url })
            this.$router.push({ name: 'twitter.screen' })
            break
        }
        this.disableList = false
      })
    },
    onLeft () {
      if (this.disableList) return
      this.currentSelect = 0
    },
    onRight () {
      if (this.disableList) return
      this.currentSelect = 1
    },
    onUp () {
      if (this.disableList) return
      this.currentSelect = -1
    },
    onDown () {
      if (this.disableList) return
      this.currentSelect = 0
    },
    onEnter () {
      if (this.disableList) return
      if (this.currentSelect === 0) {
        this.sharePhoto()
      } else if (this.currentSelect === 1) {
        this.onDelete()
      } else if (this.currentSelect === -1) {
        this.imgZoom = this.photo.url
      }
    },
    back () {
      if (this.imgZoom !== undefined) {
        this.imgZoom = undefined
        return
      }
      history.back()
    }
  },
  created () {
    if (!this.useMouse) {
      this.$bus.$on('keyUpArrowLeft', this.onLeft)
      this.$bus.$on('keyUpArrowRight', this.onRight)
      this.$bus.$on('keyUpArrowDown', this.onDown)
      this.$bus.$on('keyUpArrowUp', this.onUp)
      this.$bus.$on('keyUpEnter', this.onEnter)
    }
    this.$bus.$on('keyUpBackspace', this.back)
    this.id = parseInt(this.$route.params.id)
    if (this.id !== -1) {
      const c = this.photos.find(e => e.id === this.id)
      if (c !== undefined) {
        this.photo = {
          id: c.id,
          url: c.url
        }
      }
    }
  },
  beforeDestroy () {
    this.$bus.$off('keyUpArrowLeft', this.onLeft)
    this.$bus.$off('keyUpArrowRight', this.onRight)
    this.$bus.$off('keyUpArrowDown', this.onDown)
    this.$bus.$off('keyUpArrowUp', this.onUp)
    this.$bus.$off('keyUpEnter', this.onEnter)
    this.$bus.$off('keyUpBackspace', this.back)
  }
}
</script>

<style scoped>
  .photo {
    width: 100%;
  }

  .photo_display {
    height: 225px;
    opacity: 0.8;
  }

  .photo_display img {
    width: 100%;
  }

  .photo_display:hover, .photo_display.selectedphoto {
    opacity: 1;
  }

  .actionbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5px 10px;
  }

  .action {
    font-size: 24px;
    color: rgb(0, 0, 0);
  }

  .delete.selectedbutton, .delete:hover {
    color: rgb(194, 26, 26);
  }

  .share.selectedbutton, .share:hover {
    color: rgb(0, 110, 255);
  }

  .img-fullscreen {
  position: fixed;
  z-index: 999999;
  background-color: rgba(20, 20, 20, 0.8);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-fullscreen img {
  display: flex;
  max-width: 90vw;
  max-height: 95vh;
}
</style>

