<template>
  <div class="phone_app">
    <PhoneTitle :title="IntlString('APP_PHOTOGALLERY_TITLE')" :showInfoBare="true" @back="back"/>
    <div class="takephoto" :class="{selectedtakephoto: currentSelect === -1}" @click.stop="takePhoto">
      <i class="fa fa-camera"></i>
    </div>
    <div class="photogallery">
      <div class="photo" :class="{selectedphoto: currentSelect === key}" v-for='(elem, key) in photos' v-bind:key="key" @contextmenu.prevent="onOption(elem)" @click.stop="onSelect(elem)" v-bind:style="{backgroundImage: 'url(' + elem.url +')'}"></div>
    </div>
  </div>
</template>

<script>
import PhoneTitle from '../PhoneTitle'
import InfoBare from '../InfoBare'
import { mapActions, mapGetters } from 'vuex'

import Modal from '@/components/Modal/index.js'

export default {
  components: {
    PhoneTitle, InfoBare
  },
  data () {
    return {
      from: undefined,
      num: undefined,
      disableList: false,
      currentSelect: -1
    }
  },
  computed: {
    ...mapGetters(['IntlString', 'photos', 'useMouse'])
  },
  methods: {
    ...mapActions(['sendMessage', 'twitterPostTweet', 'deletePhoto', 'takePhoto']),
    onSelect (photo) {
      if (this.from === undefined) {
        this.$router.push({ name: 'photo.view', params: { id: photo.id } })
      } else {
        this.disableList = true
        Modal.CreateModal({
          choix: [
            {id: 1, title: this.IntlString('APP_SELECT_PHOTO'), color: 'blue'},
            {id: 2, title: this.IntlString('CANCEL'), icons: 'fa-undo'}
          ]
        }).then(rep2 => {
          if (rep2.id === 1) {
            if (this.from === 'sms' && this.num !== undefined) {
              this.sendMessage({
                phoneNumber: this.num,
                message: photo.url
              })
              this.$router.push({
                name: 'messages.view',
                params: {
                  number: this.num,
                  message: this.num,
                  backFromGallery: true
                }
              })
            } else if (this.from === 'twitter') {
              this.twitterPostTweet({ message: photo.url })
              this.$router.push({ name: 'twitter.screen' })
            }
          }
          this.disableList = false
        })
      }
    },
    onOption (photo) {
      if (this.from !== undefined) return
      this.disableList = true
      Modal.CreateModal({
        choix: [
          {id: 1, title: this.IntlString('APP_PHOTO_SHARE'), icons: 'fa-share', color: 'blue'},
          {id: 2, title: this.IntlString('APP_CONTACT_DELETE'), icons: 'fa-trash', color: 'red'},
          {id: 3, title: this.IntlString('CANCEL'), icons: 'fa-undo'}
        ]
      }).then(rep => {
        switch (rep.id) {
          case 1:
            Modal.CreateModal({
              choix: [
                {id: 1, title: this.IntlString('APP_MESSAGE_SMS'), color: 'orange'},
                {id: 2, title: this.IntlString('APP_TWITTER_VIEW_TWITTER'), color: 'cyan'},
                {id: 3, title: this.IntlString('CANCEL'), icons: 'fa-undo'}
              ]
            }).then(rep2 => {
              switch (rep2.id) {
                case 1:
                  this.$router.push({ name: 'photo.share.sms', params: { id: photo.id } })
                  break

                case 2:
                  this.twitterPostTweet({ message: photo.url })
                  this.$router.push({ name: 'twitter.screen' })
                  break
              }
            })
            break

          case 2:
            Modal.CreateModal({
              choix: [
                {id: 1, title: this.IntlString('APP_YES'), color: 'green'},
                {id: 2, title: this.IntlString('APP_NO'), color: 'red'}
              ]
            }).then(rep2 => {
              if (rep2.id === 1) {
                this.deletePhoto({ id: photo.id })
              }
            })
            break
        }
        this.disableList = false
      })
    },
    back () {
      if (this.disableList === true) return
      history.back()
    },
    scrollIntoViewIfNeeded: function () {
      this.$nextTick(() => {
        const selectedElem = document.querySelector('.photo.selectedphoto')
        if (selectedElem) {
          selectedElem.scrollIntoViewIfNeeded()
        }
      })
    },
    onLeft: function () {
      if (this.disableList === true) return
      this.currentSelect -= 1

      if (this.currentSelect < 0) {
        this.currentSelect = 0
      }
      this.scrollIntoViewIfNeeded()
    },
    onRight: function () {
      if (this.disableList === true) return
      this.currentSelect += 1

      if (this.currentSelect > this.photos.length - 1) {
        this.currentSelect = this.photos.length - 1
      }
      this.scrollIntoViewIfNeeded()
    },
    onDown: function () {
      if (this.disableList === true) return
      if (this.currentSelect === -1) {
        this.currentSelect = 0
      } else {
        this.currentSelect += 3
        if (this.currentSelect > this.photos.length - 1) {
          this.currentSelect = -1
        }
      }
      this.scrollIntoViewIfNeeded()
    },
    onUp: function () {
      if (this.disableList === true) return
      if (this.currentSelect === -1) {
        this.currentSelect = this.photos.length - 1
      } else {
        this.currentSelect -= 3
        if (this.currentSelect < 0) {
          this.currentSelect = -1
        }
      }
      this.scrollIntoViewIfNeeded()
    },
    onEnter: function () {
      if (this.disableList === true) return
      if (this.currentSelect === -1) {
        this.takePhoto()
      } else if (this.currentSelect > -1) {
        this.onSelect(this.photos[this.currentSelect])
      }
    }
  },
  created () {
    if (!this.useMouse) {
      this.$bus.$on('keyUpBackspace', this.back)
      this.$bus.$on('keyUpArrowDown', this.onDown)
      this.$bus.$on('keyUpArrowUp', this.onUp)
      this.$bus.$on('keyUpArrowRight', this.onRight)
      this.$bus.$on('keyUpArrowLeft', this.onLeft)
      this.$bus.$on('keyUpEnter', this.onEnter)
    } else {
      this.currentSelect = -2
    }
    this.from = this.$route.params.from
    this.num = this.$route.params.num
  },

  beforeDestroy () {
    this.$bus.$off('keyUpBackspace', this.back)
    this.$bus.$off('keyUpArrowDown', this.onDown)
    this.$bus.$off('keyUpArrowUp', this.onUp)
    this.$bus.$off('keyUpArrowRight', this.onRight)
    this.$bus.$off('keyUpArrowLeft', this.onLeft)
    this.$bus.$off('keyUpEnter', this.onEnter)
  }
}
</script>

<style scoped>
  .photo {
    flex: 0 0 128px;
    background-position: center;
    background-size: cover;
    width: 128px;
    height: 128px;
    margin: 5px 2px 0;
    padding: 0;
  }

  .photo img {
    width: 100%;
  }

  .photo:hover, .selectedphoto {
    -moz-box-shadow:    inset 0 0 15px #000000;
    -webkit-box-shadow: inset 0 0 15px #000000;
    box-shadow:         inset 0 0 15px #000000;
    border: 4px solid #B000A5;
  }

  .photogallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 4px 0px 3px;
    overflow-y: auto;
  }

  .takephoto {
    height: 80px;
    line-height: 80px;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    font-size: 48px;
    color: rgb(99, 99, 99);
    text-align: center;
    padding-top: 6px;
  }

  .takephoto:hover, .takephoto.selectedtakephoto {
    color: #B000A5;
    -moz-box-shadow:    inset 0 0 15px #000000;
    -webkit-box-shadow: inset 0 0 15px #000000;
    box-shadow:         inset 0 0 15px #000000;
  }
</style>
