<template>
  <div style="height: 100vh; width: 100vw;" @contextmenu="closePhone">
    <notification />
    <div class="phone_padding">
      <div v-if="show === true && tempoHide === false" :style="{zoom: zoom}" @contextmenu.stop>
        <div class="phone_wrapper">
          <div v-if="coque" class="phone_coque" :style="{backgroundImage: 'url(/html/static/img/coque/' + coque.value + ')'}"></div>

          <div id="app" class="phone_screen">
            <router-view></router-view>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import './PhoneBaseStyle.scss'
import './assets/css/fontawesome.min.css'
import { mapGetters, mapActions } from 'vuex'
import {Howl} from 'howler'
export default {
  name: 'app',
  components: {
  },
  data: function () {
    return {
      soundCall: null
    }
  },
  methods: {
    ...mapActions(['loadConfig', 'setInputFocused', 'rejectCall']),
    closePhone () {
      this.$phoneAPI.closePhone()
    }
  },
  computed: {
    ...mapGetters(['busyCall', 'show', 'zoom', 'coque', 'sonido', 'appelsInfo', 'myPhoneNumber', 'volume', 'tempoHide', 'isInputFocused'])
  },
  watch: {
    appelsInfo (newValue, oldValue) {
      try {
        if (this.appelsInfo !== null && this.appelsInfo.is_accepts !== true) {
          if (this.soundCall !== null) {
            this.soundCall.pause()
          }
          var path = null
          if (this.appelsInfo.initiator === true) {
            path = '/html/static/sound/Phone_Call_Sound_Effect.ogg'
          } else {
            path = '/html/static/sound/' + this.sonido.value
          }
          this.soundCall = new Howl({
            src: path,
            volume: this.volume,
            loop: true
          })
          this.soundCall.play()
        } else if (this.soundCall !== null) {
          this.soundCall.pause()
          this.soundCall = null
        }
        if (newValue === null && oldValue !== null) {
          this.$router.push({name: 'home'})
          return
        }
        if (newValue !== null) {
          this.$router.push({name: 'appels.active'})
        }
      } catch (err) {
        console.error(err)
      }
    },
    show () {
      if (this.appelsInfo !== null) {
        this.$router.push({name: 'appels.active'})
      } else {
        this.$router.push({name: 'home'})
      }
      if (this.show === false && this.appelsInfo !== null) {
        this.rejectCall()
      }
    },
    busyCall () {
      if (this.busyCall !== null && (!this.soundCall || !this.soundCall.src)) {
        this.soundCall = new Howl({
          src: '/html/static/sound/busy.ogg',
          volume: this.volume,
          onend: () => {
            this.$phoneAPI.setBusyCall(null)
            this.soundCall.src = null
            this.$router.push({name: 'home'})
          }
        })
        this.soundCall.play()
        this.$router.push({name: 'appels.active', params: { soundCall: this.soundCall }})
      }
    }
  },
  mounted () {
    this.loadConfig()
    window.addEventListener('message', (event) => {
      try {
        if (event.data.keyUp !== undefined) {
          this.$bus.$emit('keyUp' + event.data.keyUp)
        }
      } catch (err) {
        console.error(err)
      }
    })
    window.addEventListener('keyup', (event) => {
      try {
        const keyValid = ['ArrowRight', 'ArrowLeft', 'ArrowUp', 'ArrowDown', 'Backspace', 'Enter', 'Space']
        if (keyValid.indexOf(event.code) !== -1) {
          this.$bus.$emit('keyUp' + event.code)
        }
        if (event.key === 'Escape') {
          if (!this.isInputFocused) {
            this.setInputFocused(false)
          }
          this.$phoneAPI.closePhone()
        }
      } catch (err) {
        console.error(err)
      }
    })
    window.addEventListener('keydown', (event) => {
      try {
        const keyValid = ['ArrowRight', 'ArrowLeft', 'ArrowUp', 'ArrowDown', 'Backspace', 'Enter', 'Space']
        if (keyValid.indexOf(event.code) !== -1) {
          this.$bus.$emit('keyDown' + event.code)
        }
      } catch (err) {
        console.error(err)
      }
    })
  }
}
</script>

<style lang="scss">
</style>
