body {
  font-size: 20px;
  margin: 0;
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
  font-family: 'Roboto', sans-serif;
  padding: 0;
}

.phone_infoBare {
  height: 24px;
}

.phone_app{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.phone_title {
  padding-left: 24px;
  
  padding-top: 6px;
  height: 64px;
  line-height: 52px;
  font-size: 24px;
  font-weight: 500;
  padding-left: 64px;
}
.phone_title .btn-back {
  width: 42px;
  height: 42px;
  color: rgba(255,255,255, 0.7);
  line-height: 42px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 16px;
  top: 35px;
  
  outline: none;
  text-shadow: none;
  text-align: center;
}
.phone_title .btn-back:hover {
  background-color: rgba(255,255,255, 0.3);
  color: white;
}

.phone_content {
  height: 100%;
  overflow-y: auto;
}

.phone_padding {
  position: absolute;
  right   : 3.8em;
	bottom : 0em;
}

.phone_wrapper {
  width: 500px;
  height: 1000px;
  background-size: cover;
}

.phone_coque{
  position: absolute;
  z-index: 999;
  width: 500px;
  height: 1000px;
  pointer-events:none;
}

.phone_screen{
  overflow: hidden;
  position: absolute;
  background-color: white;
  bottom: 100px;
  left: 50px;
  right: 50px;
  top: 100px;
  display: flex;
}

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
*::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}
*::-webkit-scrollbar
{
    width: 3px;
    background-color: transparent;
}
*::-webkit-scrollbar-thumb
{
    background-color: #666;
}